section.about
  .container
    .title A Little
      span About
      span Me
    hr
    .card
      img(src="img/face.png")
      .text
        span.q-mark: i.fa.fa-quote-left
        |  Hello, my name is Kofi Arhin, I'm Developer Front-end and UI Designer , curious and passionate about what I do. I am looking to develop personal projects and share with other professionals, some by 
        a(href="https://github.com/69esco69" target="_blank") Github
        |, 
        a(href="https://www.behance.net/mysocialme7d1b" target="_blank") Behance 
        | and 
        a(href="http://codepen.io/esco69/" target="_blank") Codepen. 
        | Also working on the project Digital Ruby which I am co-founder.
        span.q-mark: i.fa.fa-quote-right
      a(href="https://www.linkedin.com/in/kenneth-obu-9b49b72b?trk=nav_responsive_tab_profile_pic" target="_blank").more Read More on LinkedIn
    
