section.footer
  .container
    a(href="mailto: kofiarhin69@gmail.com").email Kofiarhin69@gmail.com
    .social
      a(href="https://www.linkedin.com/in/kenneth-obu-9b49b72b?trk=nav_responsive_tab_profile"): i.fa.fa-linkedin
      a(href="https://twitter.com/kwofiArhin"): i.fa.fa-twitter
      a(href="https://github.com/69esco69"): i.fa.fa-github
      a(href="http://codepen.io/esco69/"): i.fa.fa-codepen
      a(href="https://www.behance.net/mysocialme7d1b"): i.fa.fa-behance
