section.hero
  .container
    header
      a(href="#").logo KF
      .navigation
        a(href="#") About
        a(href="#") Portfolio
        a(href="#") Testimonial
        a(href="#") Blog
        a(href="#").active Contact
      
      a(hre="#").menu: i.fa.fa-align-right
        
    .content
      h1.intro Hello I'm
        span Kofi Arhin
      h2.job-title Front-end Developer/ 
        span UI Designer
      a(href="mailto: kofiarhin69@gmail.com").button Hire Me
      
        
