section.projects
 .container
   .title Projects
   hr
   .main-wrapper
     .main-unit
     .main-unit
     .main-unit
     .main-unit
   .unit-wrapper
     .unit: .overlay
     .unit: .overlay
     .unit: .overlay
     .unit: .overlay
     
     
  
