doctype html
html
	head
		title Jade Template
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles.css")
		link(rel="stylesheet", href="font-awesome/css/font-awesome.min.css")
		script(src="js/jquery.js")
		script(src="js/main.js")
		script(src="js/angular.js")

	body
		include ./partials/_test
	

		
		
	
     
